/*
 * Sections
 * ========
 * https://html.spec.whatwg.org/#sections
 */

@media screen {
  html {
    background: var(--color-offset);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-sans);
  margin: 0 auto;
  max-inline-size: var(--line-measure);
  padding: var(--gap);
}

@media screen {
  body {
    background-color: var(--color-background);
    box-shadow: inset var(--border-width-thicker) 0 0 var(--color-accent);
    min-block-size: 100dvh;
  }
}

@media screen and (min-width: 50rem) {
  body {
    box-shadow: calc(var(--border-width-thicker) * -1) calc(var(--border-width-thicker) * -1) 0 var(--color-accent);
    margin: var(--step-1) auto;
    min-block-size: auto;
  }
}

@media print {
  nav {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  break-after: avoid;
  font-feature-settings: "ss02" 1, "case" 1;
  font-size: inherit;
  font-weight: inherit;
  hanging-punctuation: first;
  margin: 0;
  text-rendering: optimizelegibility;
}

:focus-visible {
  outline: var(--border-width-thicker) solid var(--color-focus);
  z-index: 1;
}

::selection {
  background-color: var(--color-highlight);
}
