// Palette

// @dark-blue: #295566;
// @mid-blue: #69bcde;
// @mid-grey: #dee1e3;
// @light-grey: #f0f3f5;
// @blue-grey: #8c9ca3;
// @orange: #B9551E;
// @orange-grey: #E3E0DE;

@base-blue: hsl(198, 64%, 55%);
@dark-blue: saturate(darken(@base-blue, 30%), 10%);
@grey-blue: desaturate(darken(@base-blue, 10%), 30%);

@base-green: desaturate(spin(@base-blue, -120), 10%);
@dark-green: saturate(darken(@base-green, 30%), 10%);
@grey-green: desaturate(darken(@base-green, 10%), 30%);

@base-pink: spin(@base-blue, 180);
@dark-pink: saturate(darken(@base-pink, 30%), 10%);
@grey-pink: desaturate(darken(@base-pink, 10%), 30%);

@light-grey: #f3f3f3;
@dark-grey: #444;

// There should be no reference to palette colours
// in the main styles - only variables should
// reference them.

@bg: white;
@color: @dark-grey;
@link: darken(@color, 10%);
@link-hover: @color;

@section-bg: @light-grey;
@section-alternate: @grey-green;
@section-nav-link-bg: darken(@section-bg, 4%);
@section-nav-link-bg-hover: darken(@section-bg, 8%);
@section-nav-link-bg-dark: darken(@section-bg, 16%);

@form-text-bg: @section-nav-link-bg-hover;
@form-outline: @base-green;
@form-button-bg: @base-green;
@form-button-bg-hover: darken(@form-button-bg, 10%);

// These colours must not reference each other (between meetups),
// to avoid crazy cross-dependency down the line

@multipack-bg: @base-green;
@multipack-color: @light-grey;
@multipack-alternate: @dark-green;
@multipack-fade: @grey-green;
@multipack-highlight: white;
@multipack-link: @dark-green;
@multipack-link-bg: lighten(@multipack-bg, 5%);
@multipack-link-bg-hover: lighten(@multipack-bg, 10%);

@leampack-bg: @base-blue;
@leampack-color: @light-grey;
@leampack-alternate: @dark-blue;
@leampack-fade: @grey-blue;
@leampack-highlight: white;
@leampack-link: darken(@dark-blue, 5%);
@leampack-link-bg: darken(@leampack-bg, 5%);
@leampack-link-bg-hover: darken(@leampack-bg, 8%);

// @staffspack-bg: @blue-grey;
// @staffspack-color: @color;
// @staffspack-alternate: @light-grey;
// @staffspack-highlight: white;
// @staffspack-link: @light-grey;
// @staffspack-link-bg: darken(@staffspack-bg, 5%);
// @staffspack-link-bg-hover: darken(@staffspack-bg, 10%);

@presents-bg: @base-pink;
@presents-color: @light-grey;
@presents-alternate: @dark-pink;
@presents-fade: @grey-pink;
@presents-highlight: white;
@presents-link: @grey-pink;
@presents-link-bg: lighten(@presents-bg, 2%);
@presents-link-bg-hover: lighten(@presents-bg, 5%);

// Main

body {
  background: @bg;
  color: @color;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  color: @link;
}
  a:hover, a:active {
    color: @link-hover;
    border-bottom: 0.088em solid @link-hover;
  }
p a {
  border-bottom: 0.088em dotted @link;
}

::-moz-selection {
  color: white;
  background: @multipack-bg;
}
::selection {
  color: white;
  background: @multipack-bg;
}
  
header nav {
  a, a:visited {
    background: @section-nav-link-bg;
    outline: none;
    border-left: 0.444em solid @section-bg;
  }

  a:hover, a:active {
    border-bottom: none;
    background: @section-nav-link-bg-hover;
  }
}

.branding {
    color: @color;
    h2 {
      color: @color;
    }
  }

/* Event Colours */

.event {
  h2 {
    color: @color;
  }
  .date, .region, .synopsis {
    color: @section-nav-link-bg-dark;
  }
}

.event .synopsis {
  margin-top: 1em;
  font-weight: normal;
  font-size: 1.5em;
}

.upcoming {
  h2 {
    color: @color;
  }
  nav a {
    background-color: @section-nav-link-bg;
    &:hover {
      background-color: @section-nav-link-bg-hover;
    }
  }
}

/* Multipack */

.multipack {

  &.event, &.tweet {
    background-color: @multipack-bg;
    color: @multipack-color;
  }

  &.branding {
    color: @multipack-bg;
    h2 {
      color: @multipack-fade;
    }
  }

  &.event h2, &.tweet footer {
    color: @multipack-color;
  }
  &.event {
    .date, .region, .synopsis {
      color: @multipack-alternate;
    }
    .type {
      color: @multipack-highlight;
    }
    a, a:visited {
      color: @multipack-link;
      border-color: @multipack-link;
    }
  }
  
  &.event nav a, &.tweet a {
    color: @multipack-link;
    border-color: @multipack-link;
    background-color: @multipack-link-bg;
  }
    &.event nav a:hover, &.tweet a:hover {
      background-color: @multipack-link-bg-hover;
      border-bottom: none;
    }
    &.tweet:before {
      color: @multipack-link;
    }

}

/* Leampack */

.leampack {

  &.event, &.tweet {
    background-color: @leampack-bg;
    color: @leampack-color;
  }

  &.branding {
    color: @leampack-bg;
    h2 {
      color: @leampack-fade;
    }
  }

  &.event h2, &.tweet footer {
    color: @leampack-color;
  }
  &.event {
    .date, .region, .synopsis {
      color: @leampack-alternate;
    }
    .type {
      color: @leampack-highlight;
    }
    a, a:visited {
      color: @leampack-link;
      border-color: @leampack-link;
    }
  }
  
  &.event nav a, &.tweet a {
    color: @leampack-link;
    background-color: @leampack-link-bg;
  }
    &.event nav a:hover, &.tweet a:hover {
      background-color: @leampack-link-bg-hover;
      border-bottom: none;
    }
    &.tweet:before {
      color: @leampack-link;
    }
}
    
/* Staffspack */

// .staffspack {
//   &.event, &.tweet {
//     background-color: @staffspack-bg;
//     color: @staffspack-color;
//   }

//   &.branding {
//     color: @staffspack-bg;
//   }

//   &.event h2, &.tweet footer {
//     color: @staffspack-color;
//   }
//   &.event {
//     .date, .region, .synopsis {
//       color: @staffspack-alternate;
//     }
//     .type {
//       color: @staffspack-highlight;
//     }
//     a, a:visited {
//       color: @staffspack-link;
//       border-color: @staffspack-link;
//     }
//   }
  
//   &.event nav a, &.tweet a {
//     color: @staffspack-link;
//     background-color: @staffspack-link-bg;
//   }
//     &.event nav a:hover, &.tweet a:hover {
//       background-color: @staffspack-link-bg-hover;
//       border-bottom: none;
//     }
//     &.tweet:before {
//       color: @staffspack-link;
//     }
// }

/* Presents */
.presents {

  &.event, &.tweet {
    background-color: @presents-bg;
    color: @presents-color;
  }

  &.branding {
    color: @presents-bg;
    h2 {
      color: @presents-fade;
    }
  }

  &.event h2, &.tweet footer {
    color: @presents-color;
  }
  &.event {
    .date, .region, .synopsis {
      color: @presents-alternate;
    }
    .type {
      color: @presents-highlight;
    }
    a, a:visited {
      color: @presents-link;
      border-color: @presents-link;
    }
  }
  
  &.event nav a, &.tweet a {
    color: @presents-link;
    background-color: @presents-link-bg;
  }
    &.event nav a:hover, &.tweet a:hover {
      background-color: @presents-link-bg-hover;
      border-bottom: none;
    }
    &.tweet:before {
      color: @presents-link;
    }
}

section {
  border-top: .1875em solid white;
  background: @section-bg;

  &[role=color] {
    box-shadow: 0 -4px 6px -4px rgba(0,0,0,0.2);
  }
  h2 {
    color: @section-alternate;
  }
}
 

nav {
  .multipack a:hover {
    border-color: @multipack-bg;
  }
  .leampack a:hover {
    border-color: @leampack-bg;
  }
  // .staffspack a:hover {
  //   border-color: @staffspack-bg;
  // }
  .presents a:hover {
    text-decoration: line-through;
    border-color: @presents-bg;
    background-color: @section-nav-link-bg;
  }
}

.photos li {
  background: @section-nav-link-bg;

  a:hover {
    background: @section-nav-link-bg-dark;
  }
  img {
    box-shadow: 0 1px 3px @section-nav-link-bg-dark;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
  }
  .more a {
    color: @section-alternate;
  }
}
  
.newsletter {
  input[type=email] {
    background: @form-text-bg;
  }
    input[type=email]:focus {
      outline: 1px solid @form-outline;
    }
  input[type=submit] {
    background: @form-button-bg;
  }
    input[type=submit]:hover {
      background-color: @form-button-bg-hover;
    }
}

.top, .top:visited {
  background: @section-nav-link-bg;
  background: rgba(0,0,0,0.2);
  color: @link;

  &:hover, &:active {
    background: rgba(0,0,0,0.3);
    color: @link-hover;
    border-bottom: none;
  }
}