<footer class="contentinfo">
  <small class="contentinfo__copyright">
    © The Multipack 2005–<time>{{ 'now' | date: '%Y' }}</time>.
    <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Website</span> licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc/3.0/">Creative Commons License</a>.
  </small>
</footer>
