<nav class="navigation">
  <ul class="navigation__list" role="list">
    <li class="navigation__list-item">
      <a rel="home" href="/"{% if page.url == "/" %} aria-current="page"{% endif %}>Home</a>
    </li>
  {% for item in navigation %}
    <li class="navigation__list-item">
      <a href="{{ item.url }}"{% if page.url contains item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>
    </li>
  {% endfor %}
  </ul>
</nav>
