.section + .section {
  margin-block-start: var(--gap);
}

.section__title {
  font-size: var(--step-1);
  font-weight: bold;
  line-height: var(--line-height-tight);
  margin-block-end: var(--space-block);
}

.section__list > * + * {
  margin-block-start: var(--space-block);
}
