.banner {
  margin-block-end: var(--gap);
}

.banner__title {
  @extend %title;

  color: var(--color-accent);
  margin-block-end: var(--space-block);
}

.banner__summary {
  @extend %lede;

  color: var(--color-neutral-darker);
}
