:root {
  /* Neutral palette */
  --tint: 210 15%;
  --color-neutral-darkest: hsl(var(--tint) 16%);
  --color-neutral-darker: hsl(var(--tint) 36%);
  --color-neutral-dark: hsl(var(--tint) 44%);
  --color-neutral: hsl(var(--tint) 50%);
  --color-neutral-light: hsl(var(--tint) 80%);
  --color-neutral-lighter: hsl(var(--tint) 88%);
  --color-neutral-lightest: hsl(var(--tint) 96%);

  /* Brand colours */
  --color-multipack-blue: hsl(210, 100%, 40%);
  --color-multipack-green: hsl(140, 60%, 50%);
  --color-multipack-teal: hsl(180, 100%, 20%);
  --color-multipack-orange: hsl(16, 80%, 40%);
  --color-multipack-purple: hsl(320, 100%, 23%);
  --color-leamington: hsl(198, 80%, 55%);

  /* Colour assignments */
  --color-background: white;
  --color-offset: var(--color-neutral-lightest);
  --color-rule: var(--color-neutral-lightest);
  --color-text: var(--color-neutral-darkest);
  --color-text-focus: hsl(var(--tint) 16%); /* Ignore color-scheme */
  --color-link: var(--color-multipack-blue);
  --color-link-underline: var(--color-multipack-blue);

  --color-highlight: hsl(48 100% 80% / 75%);
  --color-focus: hsl(48 100% 50%);

  /* Typography */
  --font-family-sans: 'Public Sans', sans-serif;
  --font-family-monospace: sfmono-regular, consolas, liberation mono, menlo, monospace;
  --line-height-tight: 1.25;
  --line-height-loose: 1.5;
  --line-height-prose: 1.75;
  --line-measure: 50rem;
  --word-spacing: 0;
  --text-spacing: 0 0.25em 0.125em 0.25em;

  /* Borders */
  --border-width-thin: 1px;
  --border-width-thick: 3px;
  --border-width-thicker: 10px;

  /* Spacing */
  --space-block: 0.75rem;
  --space-inline: 0.25rem;

  /* Inset spacing */
  --inset-small: var(--space-inline);
  --inset-small-squished: calc(var(--inset-small) / 2) var(--inset-small);
  --inset-large: calc(var(--inset-small) * 2);
  --inset-large-squished: calc(var(--inset-large) / 2) var(--inset-large);

  /* Grids */
  --gap: var(--step-3);

  /* Indicate the presence of dark mode styles */
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-neutral-darkest: hsl(var(--tint) 96%);
    --color-neutral-darker: hsl(var(--tint) 88%);
    --color-neutral-dark: hsl(var(--tint) 80%);
    --color-neutral: hsl(var(--tint) 50%);
    --color-neutral-light: hsl(var(--tint) 44%);
    --color-neutral-lighter: hsl(var(--tint) 36%);
    --color-neutral-lightest: hsl(var(--tint) 16%);
    --color-background: hsl(var(--tint) 8%);
    --color-highlight: hsl(60 100% 70% / 15%);
    --color-link: var(--color-accent);
    --color-link-hover: white;
    --color-link-underline: var(--color-accent);
    --line-height-tight: calc(1.25em + 0.5vw);
    --line-height-loose: calc(1.5em + 0.5vw);
    --line-height-prose: calc(1.75em + 0.5vw);
    --word-spacing: 0.05em;
  }
}
