<footer class="main-footer">
  <section class="social">
    <h3>Stay connected and up-to-date:</h3>
    {%- include 'social-media' -%}
  </section>

  <section class="block footer">
    <p class="copyright">© The Multipack <time>{{ 'now' | date: '%Y' }}</time></p>
    <p class="license">
      <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">The Multipack website</span> is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc/3.0/">Creative Commons License</a> and is open-sourced on <a href="//github.com/multipack/website" title="Multipack on Github">Github</a>.
    </p>
    <p><a href="/style">View our Style Guide</a></p>
  </section>
</footer>
