.s-linear {
  --flow-inset: 1.25em;
  --flow-space: 1em;
  --linear-measure: var(--line-measure);
  font-size: var(--step-0);
  font-variant: oldstyle-nums;
  font-weight: normal;
  line-height: var(--line-height-loose);
  word-spacing: var(--word-spacing);
}

.s-linear > * {
  max-inline-size: var(--linear-measure);
  word-break: break-word;
}

.s-linear * + * {
  margin-block-start: var(--flow-space);
}

.s-linear hr {
  border-block-end: var(--border-width-thick) solid var(--color-offset);
  inline-size: calc(33% - calc(var(--gap) / 2));
  margin-block: var(--gap);
  margin-inline-start: 0;
}

.s-linear :is(caption, figcaption) {
  color: var(--color-neutral-dark);
  font-size: var(--step--1);
  line-height: var(--line-height-loose);
  padding-block-start: var(--space-block);
}

.s-linear blockquote {
  border-inline-start: var(--border-width-thicker) solid var(--color-offset);
  margin-inline-start: 0;
  padding-inline-start: var(--flow-inset);
}

.s-linear pre {
  background-color: var(--color-offset);
  display: block;
  font-size: var(--step-0);
  overflow-x: scroll;
  padding: var(--inset-small);
}

.s-linear table {
  font-size: var(--step-0);
  inline-size: 100%;
  max-inline-size: 100%;
}

.s-linear :is(th, td) {
  padding: var(--inset-small-squished);
  padding-block-end: var(--space-block);
  padding-inline-start: 0;
}

.s-linear tbody :is(th, td) {
  border-block-start: var(--border-width-thin) solid var(--color-rule);
}

.s-linear tbody th {
  color: var(--color-neutral);
}

.s-linear * + :is(pre, aside, blockquote,  figure, table) {
  margin-block-start: var(--gap);
}

.s-linear h2 {
  --flow-space: 2em;
  font-size: var(--step-1);
  font-weight: bold;
  line-height: var(--line-height-tight);
}

.s-linear h3 {
  --flow-space: 1.5em;
  font-size: var(--step-1);
  line-height: var(--line-height-tight);
}

.s-linear h4 {
  color: var(--color-accent);
  margin-block-end: calc(var(--flow-space) * -0.5);
}

.s-linear li :is(dl, ol, ul) {
  margin-block-start: calc(var(--flow-space) / 2);
}

.s-linear dd {
  --flow-inset: 0;
  margin-block-start: 0;
}

.s-linear dt,
.s-linear strong {
  font-weight: bold;
}

.s-linear small {
  font-size: var(--step-0);
}

.s-linear img {
  margin-block-start: 0;
}

.s-linear code {
  background-color: var(--color-offset);
}

.s-linear :not(pre) code {
  padding: var(--text-spacing);
}

.s-linear pre code {
  padding: 0;
}
