/* Forms */

form div {
  margin-bottom: 0.5em;
}

input {
  font-family: 'open-sans', 'Open Sans', sans-serif;
  font-size: 0.8em;
}

button[type=submit] {
  border: none;
  color: white;
  font-size: 0.667em;
  text-transform: uppercase;
  padding: 0.56em;
  position: relative;
  top: -2px;
  display: inline-block;
}
  input[type=submit]:hover {
  }

input[type="text"],
input[type="email"] {
  padding: 0.262em 0.444em;
  margin-bottom: 0.262em;
}

::-webkit-validation-bubble-message {
  font-family: 'open-sans', 'Open Sans', sans-serif;
  font-size: 1em;
  padding: 0.3em 0.667em;
  padding-left: 0.444em;
  box-shadow: 0 3px 2px -3px rgba(0,0,0,.2);
}